---
---


// See variables here https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss
$header-bg-color: #fff;
$body-text-color: #000;
$section-headings-color: #ba3925;
$header-heading-color: #000;

@import "{{ site.theme }}";

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: none; border-bottom: thin dashed;
  }
}

// h2, h3, h4, h5, h6  {
//   text-indent: -1em;
// }

body {
  padding-top: 1rem;
  @include large {
    padding: 0rem 6rem;
  }

  h2, h3, h4, h5, h6  {
    text-indent: -1em;
  }

  h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor  {
    visibility: hidden;
  }

  h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
  }
  
  span .anchor {
    visibility: hidden;
  }

  span:hover .anchor {
    visibility: visible;
  }

}


ul {
    list-style-type: '- ';
}

h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor  {
  visibility: hidden;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}

.site-footer {
  font-size: 0.9rem;
}

:target {
  background-color: yellow;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: rgb(220, 220, 220) 1px 5px 20px;
  @media print {
    display: none;
  }
}

.print-content {
  display: none;
  @media print {
    display: block;
  }
}

.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.featured-card {
  width: 33%;
  padding-left: 0.6em;
  padding-right: 0.6em;
}