---
---


@import "{{ site.theme }}";

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: none; border-bottom: thin dashed;
  }
}

// h2, h3, h4, h5, h6  {
//   text-indent: -1em;
// }
 
h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor  {
  visibility: hidden;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}
